body {
  font-size: 20px;
  font-family: 'Libre Caslon Display', serif;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

.index {
  padding: 2em;
  width: 20em;
  margin: 2em auto;
  box-shadow:
    0 0 0 2px black,
    0 0 0 6px white,
    0 0 0 8px black;
  ol {
    line-height: 2;
  }
}
